In [25]:
import os

import pandas as pd

DATA_PATH = '/opt/ml/input/cropped_v2/train/'
IMG_PATH = '/opt/ml/input/cropped_v2/train/images/'

In [26]:
df = pd.read_csv('/opt/ml/input/cropped_v2/train/train_outlier.csv')

In [27]:
img_path_list = []

In [28]:
for p in df['path'].values:
    try : img_list = sorted([im for im in os.listdir(IMG_PATH+p) if '._' not in im])
    except : pass
    for im in img_list:
        img_path_list.append(p+'/'+im)

In [29]:
len(img_path_list)

18900

In [30]:
df_cls = pd.DataFrame( { 'img_path' : img_path_list} )

In [31]:
def path_finder(x):
    return x.split('/')[0]

In [32]:
def name_finder(x):
    return x.split('/')[-1]

In [33]:
def mask_classifier(x):
    mask = x.split('.')[0]
    
    if mask == 'incorrect_mask':
        return 'Incorrect'
    elif mask == 'normal':
        return 'Not Wear'
    else:
        return 'Wear'

In [34]:
df_cls['path'] = df_cls['img_path'].map(path_finder)
df_cls['name'] = df_cls['img_path'].map(name_finder)
df_cls['mask'] = df_cls['name'].map(mask_classifier)

In [35]:
df_cls = pd.merge(df, df_cls, on='path')

In [36]:
df_cls['target'] = 0


df_cls['target'] = ((df_cls['mask']=='Not Wear')*12 + 
                  (df_cls['mask']=='Incorrect')*6 +
                  (df_cls['gender']=='female')*3 + 
                  (df_cls['age']>=30)*1 + 
                  (df_cls['age']>=60)*1)

In [37]:
df_cls

,id,gender,race,age,path,img_path,name,mask,target
0,000001,female,Asian,45,000001_female_Asian_45,000001_female_Asian_45/incorrect_mask.jpg,incorrect_mask.jpg,Incorrect,10
1,000001,female,Asian,45,000001_female_Asian_45,000001_female_Asian_45/mask1.jpg,mask1.jpg,Wear,4
2,000001,female,Asian,45,000001_female_Asian_45,000001_female_Asian_45/mask2.jpg,mask2.jpg,Wear,4
3,000001,female,Asian,45,000001_female_Asian_45,000001_female_Asian_45/mask3.jpg,mask3.jpg,Wear,4
4,000001,female,Asian,45,000001_female_Asian_45,000001_female_Asian_45/mask4.jpg,mask4.jpg,Wear,4
...,...,...,...,...,...,...,...,...,...
18895,006959,male,Asian,19,006959_male_Asian_19,006959_male_Asian_19/mask2.jpg,mask2.jpg,Wear,0
18896,006959,male,Asian,19,006959_male_Asian_19,006959_male_Asian_19/mask3.jpg,mask3.jpg,Wear,0
18897,006959,male,Asian,19,006959_male_Asian_19,006959_male_Asian_19/mask4.jpg,mask4.jpg,Wear,0
18898,006959,male,Asian,19,006959_male_Asian_19,006959_male_Asian_19/mask5.jpg,mask5.jpg,Wear,0
18899,006959,male,Asian,19,006959_male_Asian_19,006959_male_Asian_19/normal.jpg,normal.jpg,Not Wear,12

In [38]:
df_cls.to_csv(DATA_PATH+'train_classified.csv', index=False)

In [21]:
df_cls['target'] = 0
df_cls['target'] = ((df_cls['mask']=='Not Wear')*12 + 
                  (df_cls['mask']=='Incorrect')*6)
df_cls.to_csv(DATA_PATH+'train_classified_mask.csv', index=False)

In [22]:
df_cls['target'] = 0
df_cls['target'] = (df_cls['gender']=='female')*3
df_cls.to_csv(DATA_PATH+'train_classified_gender.csv', index=False)

In [23]:
df_cls['target'] = 0
df_cls['target'] = ((df_cls['age']>=30)*1 + 
                  (df_cls['age']>=60)*1)
df_cls.to_csv(DATA_PATH+'train_classified_age.csv', index=False)

In [24]:
df_cls

,id,gender,race,age,path,img_path,name,mask,target
0,000001,female,Asian,45,000001_female_Asian_45,000001_female_Asian_45/incorrect_mask.jpg,incorrect_mask.jpg,Incorrect,1
1,000001,female,Asian,45,000001_female_Asian_45,000001_female_Asian_45/mask1.jpg,mask1.jpg,Wear,1
2,000001,female,Asian,45,000001_female_Asian_45,000001_female_Asian_45/mask2.jpg,mask2.jpg,Wear,1
3,000001,female,Asian,45,000001_female_Asian_45,000001_female_Asian_45/mask3.jpg,mask3.jpg,Wear,1
4,000001,female,Asian,45,000001_female_Asian_45,000001_female_Asian_45/mask4.jpg,mask4.jpg,Wear,1
...,...,...,...,...,...,...,...,...,...
18895,006959,male,Asian,19,006959_male_Asian_19,006959_male_Asian_19/mask2.jpg,mask2.jpg,Wear,0
18896,006959,male,Asian,19,006959_male_Asian_19,006959_male_Asian_19/mask3.jpg,mask3.jpg,Wear,0
18897,006959,male,Asian,19,006959_male_Asian_19,006959_male_Asian_19/mask4.jpg,mask4.jpg,Wear,0
18898,006959,male,Asian,19,006959_male_Asian_19,006959_male_Asian_19/mask5.jpg,mask5.jpg,Wear,0
18899,006959,male,Asian,19,006959_male_Asian_19,006959_male_Asian_19/normal.jpg,normal.jpg,Not Wear,0