In [85]:
import os
import shutil

import pandas as pd

DATA_PATH = '/opt/ml/input/cropped_v2/train/'
IMG_PATH = '/opt/ml/input/cropped_v2/train/images/'
# NEW_IMG_PATH = '/opt/ml/input/cropped_v2/train/images_classified/'
# NEW_IMG_PATH = '/opt/ml/input/cropped_v2/train/images_classified_mask/'
# NEW_IMG_PATH = '/opt/ml/input/cropped_v2/train/images_classified_gender/'
NEW_IMG_PATH = '/opt/ml/input/cropped_v2/train/images_classified_age/'
# train_classified = 'train_classified.csv'
# train_classified = 'train_classified_mask.csv'
# train_classified = 'train_classified_gender.csv'
train_classified = 'train_classified_age.csv'

In [86]:
df = pd.read_csv(DATA_PATH+'train.csv')
df_cls = pd.read_csv(DATA_PATH+train_classified)

In [87]:
if not os.path.isdir(NEW_IMG_PATH):
    os.makedirs(NEW_IMG_PATH)

In [88]:
df

          id  gender   race  age                    path
0     000001  female  Asian   45  000001_female_Asian_45
1     000002  female  Asian   52  000002_female_Asian_52
2     000004    male  Asian   54    000004_male_Asian_54
3     000005  female  Asian   58  000005_female_Asian_58
4     000006  female  Asian   59  000006_female_Asian_59
...      ...     ...    ...  ...                     ...
2695  006954    male  Asian   19    006954_male_Asian_19
2696  006955    male  Asian   19    006955_male_Asian_19
2697  006956    male  Asian   19    006956_male_Asian_19
2698  006957    male  Asian   20    006957_male_Asian_20
2699  006959    male  Asian   19    006959_male_Asian_19

[2700 rows x 5 columns]

In [89]:
df_cls

,id,gender,race,age,path,img_path,name,mask,target
0,000001,female,Asian,45,000001_female_Asian_45,000001_female_Asian_45/incorrect_mask.jpg,incorrect_mask.jpg,Incorrect,1
1,000001,female,Asian,45,000001_female_Asian_45,000001_female_Asian_45/mask1.jpg,mask1.jpg,Wear,1
2,000001,female,Asian,45,000001_female_Asian_45,000001_female_Asian_45/mask2.jpg,mask2.jpg,Wear,1
3,000001,female,Asian,45,000001_female_Asian_45,000001_female_Asian_45/mask3.jpg,mask3.jpg,Wear,1
4,000001,female,Asian,45,000001_female_Asian_45,000001_female_Asian_45/mask4.jpg,mask4.jpg,Wear,1
...,...,...,...,...,...,...,...,...,...
18895,006959,male,Asian,19,006959_male_Asian_19,006959_male_Asian_19/mask2.jpg,mask2.jpg,Wear,0
18896,006959,male,Asian,19,006959_male_Asian_19,006959_male_Asian_19/mask3.jpg,mask3.jpg,Wear,0
18897,006959,male,Asian,19,006959_male_Asian_19,006959_male_Asian_19/mask4.jpg,mask4.jpg,Wear,0
18898,006959,male,Asian,19,006959_male_Asian_19,006959_male_Asian_19/mask5.jpg,mask5.jpg,Wear,0
18899,006959,male,Asian,19,006959_male_Asian_19,006959_male_Asian_19/normal.jpg,normal.jpg,Not Wear,0

In [90]:
df_cls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18900 entries, 0 to 18899
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        18900 non-null  object
 1   gender    18900 non-null  object
 2   race      18900 non-null  object
 3   age       18900 non-null  int64
 4   path      18900 non-null  object
 5   img_path  18900 non-null  object
 6   name      18900 non-null  object
 7   mask      18900 non-null  object
 8   target    18900 non-null  int64
dtypes: int64(2), object(7)
memory usage: 1.3+ MB

In [91]:
df_cls['target'].unique()

array([1, 0, 2])

In [92]:
# for i in range(len(df_cls['target'].unique())):
for i in df_cls['target'].unique():
    if not os.path.isdir(NEW_IMG_PATH+str(i)):
        os.makedirs(NEW_IMG_PATH+str(i))

In [93]:
path_list = sorted([p for p in os.listdir(IMG_PATH) if '._' not in p])

In [94]:
df_cls.iloc[1, -4]

'000001_female_Asian_45/mask1.jpg'

In [95]:
cnt = 0

for p in path_list:
    idx_list = df_cls.index[df_cls['path'] == p].tolist()
    for i in idx_list:
        label = str(df_cls.iloc[i, -1])
        img_path = df_cls.iloc[i, -4]
        path, file_name = img_path.split('/')
        shutil.copy(IMG_PATH+img_path, NEW_IMG_PATH+label+'/'+path + '_' + file_name)
        cnt += 1
        ##### 아래는 특전 레이블에 대해 오버샘플링 하도록 하는 코드######
        if label =='6' or label =='12' or label =='2' :
            shutil.copy(IMG_PATH+img_path, f'{NEW_IMG_PATH}{label}/{path}_2_{file_name}')
            shutil.copy(IMG_PATH+img_path, f'{NEW_IMG_PATH}{label}/{path}_3_{file_name}')

In [96]:
print(cnt)

18837